<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure that the correct version of Node.js is used -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Configure iisnode to serve your app from the root directory -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Ensure the app always runs, even after being idle -->
    <iisnode>
      <logging enabled="true" logDirectory="iisnode"/>
      <flushResponse="true"/>
      <devErrorsEnabled="true"/>
    </iisnode>

    <!-- HTTP compression to improve performance -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
      </dynamicTypes>
    </httpCompression>

    <!-- Allows the app to serve static files -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>
