
.category-container {
    flex-direction: row;               
    margin: auto;
    width: 70%;
    padding: 10px;
}

.category-button {
    width: 195px;              
    height: 70px;
    font-family: "Playwrite DE Grund", cursive;               
    border-radius: 4px;        
    background-color: #794500;  
    color: #fff;                
    font-size: 1rem;            
    transition: all 0.3s ease;  
    font-size: 1.1rem;
    border: none;
    margin-left: 10px;
}

.category-button.active {
    background-color: #85623fea;
    color: #fff;               
}

.category-button:hover {
    background-color: #6A381F;
}


.add-recipe-button:hover {
    background-color: #6A381F;
}

